.box {
  border: 5px solid #DEB887;  padding: 70px;
  width: 1310px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}
h1{ text-align: center;font-family: Modern, Monotype Corsavia; color: Brown}
h2,h3{ font-family: Modern, Monotype Corsavia; color: Brown}
p,li{text-align: justify; font-family: Arial, sans-serif; color: gray}
a {text-align: center; font-family: Modern, Monotype Corsavia; color: LightCyan}


body{
	display: block;
	background:#FDF5E6;
}

header{
	background-color: #DEB887;
	color: FFEBCD;
	padding: 1rem;
	text-align: center;
	font-family: Modern, Monotype Corsavia;
}
main {
	background:#D2B48C;
}

footer {
	background:#FDF5E6;
	padding: 2rem;
	text-align: center;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}




<panorama>
#panorama {
 width: 100%;
 height: 45px;
 overflow: hidden;
 margin: auto; 43
 box-shadow: 0 4px 12px rgba(0,0,0,0.3), 0 16px 20px
rgba(0,0,0,0.2);
}
#panorama div {
 position: absolute;
 user-select: none;
 overflow: hidden;
} 




 </panorama>
 
div {
  display: block;
  width: 300px;
  height: 200px;
  border: 10px dashed green;
}

burger-checkbox {
 position: absolute;
 visibility: hidden;
}
.burger {
 cursor: pointer;
 display: block;
 position: relative;
 border: none;
 background: transparent;
 width: 40px;
 height: 26px;
 margin: 30px auto;
}
.burger::before,
.burger::after {
 content: '';
 left: 0;
 position: absolute;

49
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 10px;
 background: #000;
}
.burger::before {
 top: 0;
 box-shadow: 0 11px 0 #000;
 transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
 bottom: 0;
 transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
 top: 11px;
 transform: rotate(45deg);
 box-shadow: 0 6px 0 rgba(0,0,0,0);
 transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
 bottom: 11px;
 transform: rotate(-45deg);
 transition: bottom .3s, transform .3s .15s;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
div.scrollmenu {
    background-color: #fcc98d;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #fcc98d;
}